/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #051937; 
}

h3 {
    padding-top: 10px;
    font-size: 0.9rem;
}

h4 {
    padding-top: 0.5rem;
    font-size: 0.8rem;
}

h5 {
    padding-top: 0.5rem;
    font-size: 0.7rem;
}

/* Utilities */

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.filler {
    flex-grow: 1;
}

/* Header */
header {
    position: relative;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #061325;
}

.logo {
    width: 60px;
    height: 60px;
    padding-top: 5px;
}

input {
    align-self: center;
    width: 160px;
    height: 30px;
    padding: 10px;
    color: blue;
}

/* Main */
 .main-wrapper {
     background-color: #051937; 
 }

 .main-wrapper .item.container {
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 60px 0;
 }


.item {
    justify-content: center;
    align-items: center;
    
   
}

.card {
    flex-basis: calc(100% / 3 - 40px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /*  max-width: 200px; */
    background-color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}


.item img {
    width: 90px;
    height: 90px;
    padding-bottom: 5px;
}